<div class="container">
  <div class="sub-container">
    <div class="progress-bar">
      <p class="circle"></p>
      <p class="horizontal-line"></p>
      <p class="circle-two"></p>
      <p class="horizontal-line"></p>
      <p class="circle-two"></p>
    </div>
    <div class="progress-details">
      <span class="progress-name">Basic Details</span>
      <span class="progress-name">Professional Work</span>
      <span class="progress-name">Address</span>
    </div>

    <!-- upload image container -->
    <div class="upload-img-container">
      <p class="upload-text">Upload Your Image</p>
      <div>
        <p class="upload-circle">
          <img src="assets/image/upload.png" alt="upload-file-img" />
        </p>
      </div>
    </div>

    <!-- user info details -->
 
    <div class="form-container">
      <fieldset class="form-fieldset">
        <legend class="form-legend">Name</legend>
        <input type="text" placeholder="Enter your name" class="input-field input-filed-name" />
      </fieldset>

      <fieldset class="form-fieldset">
        <legend class="form-legend">Gender</legend>
        <select class="gender-select">
          <option value="">Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </fieldset>

      <fieldset class="form-fieldset">
        <legend class="form-legend">Email</legend>
        <input type="text" placeholder="Enter Your Mail" class="input-field" />
      </fieldset>

      <fieldset class="form-fieldset">
        <legend class="form-legend">DOB</legend>
        <div class="input-container">
          <input type="text" placeholder="DD-MM-YY" class="input-field" /><span
            ><img
              src="/assets/image/calender.png"
              alt="Calendar icon"
              class="calender-img"
            />
          </span>
        </div>
      </fieldset>

      <div class="button-container">
        <button class="">Continue</button>
      </div>
    </div>
  </div>
</div>
