<div class="container">
  <div class="sub-container">
    <div class="progress-bar">
      <p class="circle">
        <img src="/assets/image/Vector.png" alt="Vector-img" class="right-icon"/>
      </p>
      <div class="horizontal-line"></div>
      <p class="circle"> <img src="/assets/image/Vector.png" alt="Vector-img" class="right-icon"/></p>
      <div class="horizontal-line"></div>
      <p class="circle"> <img src="/assets/image/Vector.png" alt="Vector-img" class="right-icon"/></p>
    </div>
    <div class="progress-content">
      <p class="progress-text">Basic Details</p>
      <p class="progress-text">Professional Work</p>
      <p class="progress-text">Address</p>
    </div>

    <!-- address information  -->

    <div class="address-container">
      <fieldset class="fieldset">
        <legend class="legend-title">H.no / Door.no / Flat.no</legend>
        <input type="text" placeholder="Enter your H.no" class="input-filed" />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="legend-title">Address</legend>
        <input
          type="text"
          placeholder="Enter your Address"
          class="input-filed"
        />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="legend-title">Landmark</legend>
        <input type="text" placeholder="Enter landmark" class="input-filed" />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="legend-title">City</legend>
        <input
          type="text"
          placeholder="Enter City"
          class="input-filed input-filed-bold"
        />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="legend-title">State</legend>
        <input
          type="text"
          placeholder="Enter state"
          class="input-filed input-filed-bold"
        />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="legend-title">Pincode</legend>
        <input
          type="text"
          placeholder="Enter your Pincode"
          class="input-filed input-filed-bold"
        />
      </fieldset>

      <div class="button-container">
        <button class="">Continue</button>
      </div>
    </div>
  </div>
</div>
