<div class="container">
  <div class="sub-container">
    <p class="p-text">Tell us about your work!</p>
    <!-- question one container -->
    <div class="question-container">
      <div class="question">
        <span class="question-text">Do you have any experience in</span><br />
        <span class="question-text">beauty services?</span>
      </div>

      <div class="horizontal-line"></div>

      <div class="text-yes">
        <p>Yes</p>
        <p class="circle"><img src="/assets/image/Vector.png" alt="vector-img" class="right-icon"></p>
      </div>

      <div class="horizontal-line"></div>

      <div class="text-no">
        <p>No</p>
        <p class="circle-two"><span class=""></span></p>
      </div>
    </div>

    <div class="button-container">
      <button>Continue</button>
    </div>
  </div>
</div>
