<div class="container">
  <div class="sub-container">
    <p class="p-text">Tell us about your work!</p>
    <!-- question one container -->
    <div class="question-container">
      <div class="question">
        <span class="question-text">Do you have any experience in</span><br />
        <span class="question-text">beauty services?</span>
      </div>

      <div class="horizontal-line"></div>

      <div class="text-yes">
        <p>Yes</p>
        <p class="circle">
          <img src="/assets/image/Vector.png" alt="" class="right-icon-yes" />
        </p>
      </div>

      <div class="horizontal-line"></div>

      <div class="text-no">
        <p>No</p>
        <p class="circle-two"><span class=""></span></p>
      </div>
    </div>

    <!-- work experience question container two -->

    <div class="question-two-container">
      <p class="experience-text">Work Experience</p>
      <div class="horizontal-line"></div>
      <div class="experience-row">
        <p class="experience-count">0 -1 years</p>
        <p class="circle-two"><span class=""></span></p>
      </div>
      <div class="horizontal-container-two"></div>
      <div class="experience-row">
        <p class="experience-count">2 -4 years</p>
        <p class="circle-two"><span class=""></span></p>
      </div>
      <div class="horizontal-container-two"></div>
      <div class="experience-row">
        <p class="experience-count">More than 4 years</p>
        <p class="circle-two"><span class=""></span></p>
      </div>
    </div>

    <div class="term-condition">
      <div class="Check-box">
        <span
          ><img
            src="/assets/image/Vector.png"
            alt="Vector-img"
            class="right-icon"
        /></span>
      </div>
      <p>Agree with Terms & conditions</p>
    </div>

    <div class="button-container">
      <button>Continue</button>
    </div>
  </div>
</div>
